.padding{
  background-image: url(https://preview.ibb.co/bs5qFQ/papers_co_sl09_soft_blue_green_wood_blur_gradation_iphone_6_plus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  font-size: 28px;
  text-align: center;
  color: white;
}

.parrafo1{
  font-size: 17px;
  text-align: center;
  color: black;
  font-family: arial;
}

.posser{
  background: url(https://image.freepik.com/foto-gratis/borrosa-cielo-azul-uso-mar-asi-como-blur-telon-fondo-oceano-concept-blurry-pastel-colores-sol_1258-239.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.prueb2{
  height: 750px;
  height: 250px;
}

.parrafo2{
  font-size: 17px;
  color: black;
  font-family: Arial;
  text-align: left;
}
.title1{
  font-size: 25px;
  text-align: center;
}

img{ 
  width: 100%;
  height: 75%;
  position: center;
}

/*dna*/

:root {
  --bg-color: radial-gradient(circle at center, #fff, #ccc);
  --dot-color1:deepskyblue;
  --dot-color2:#000;
}

body {
  background: var(--bg-color);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dna {
  width: 360px;
  height: 70px;
  perspective: 400px;
  transform-style: preserve-3d;
}

.ele {
  width: 2px;
  height: 100px;
  float: left;
  margin: 0 8px;
  border-left: 2px #B0B0B0 dashed;
  position: relative;
  transform: rotateX(-360deg);
  animation: run 2s linear infinite;
}
.ele:before, .ele:after {
  content: '';
  width: 10px;
  height: 10px;
  background: var(--dot-color1);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ele:before {
  top: -2px;
  background: var(--dot-color2);
}
.ele:after {
  bottom: -2px;
}
.ele:nth-of-type(1) {
  animation-delay: -0.15s;
}
.ele:nth-of-type(2) {
  animation-delay: -0.3s;
}
.ele:nth-of-type(3) {
  animation-delay: -0.45s;
}
.ele:nth-of-type(4) {
  animation-delay: -0.6s;
}
.ele:nth-of-type(5) {
  animation-delay: -0.75s;
}
.ele:nth-of-type(6) {
  animation-delay: -0.9s;
}
.ele:nth-of-type(7) {
  animation-delay: -1.05s;
}
.ele:nth-of-type(8) {
  animation-delay: -1.2s;
}
.ele:nth-of-type(9) {
  animation-delay: -1.35s;
}
.ele:nth-of-type(10) {
  animation-delay: -1.5s;
}
.ele:nth-of-type(11) {
  animation-delay: -1.65s;
}
.ele:nth-of-type(12) {
  animation-delay: -1.8s;
}
.ele:nth-of-type(13) {
  animation-delay: -1.95s;
}
.ele:nth-of-type(14) {
  animation-delay: -2.1s;
}
.ele:nth-of-type(15) {
  animation-delay: -2.25s;
}
.ele:nth-of-type(16) {
  animation-delay: -2.4s;
}
.ele:nth-of-type(17) {
  animation-delay: -2.55s;
}
.ele:nth-of-type(18) {
  animation-delay: -2.7s;
}
.ele:nth-of-type(19) {
  animation-delay: -2.85s;
}
.ele:nth-of-type(20) {
  animation-delay: -3s;
}

@keyframes run {
  to {
    transform: none;
  }
}


/* Compilacion de juego */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.todo {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
} 

.titulo {
   font-size: 25px;
   font-family: Lucida Console, Courier, monospace;
   color: blue;
   text-align: center;
  
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
.memoria{

  margin: 30px auto;

  border-radius: 10px;
  position: relative;
}

.memoria:after  {
  content: "";
  display: block;
  clear: both;
}
 
.carta {
  width: 20%;
  margin: -5% 1%;
  height: 120px;
  border-radius: 8px;
  float: left;
  cursor: pointer;
  
  
}

.inner-wrap {
  width: 100%;
  height: 100%;
  transition: all 0.6s;.
  -webkit-transition: all 0.6s;
  transform-style: preserve-3d;
  position: relative;
}


.frente {
  background: black top center;
  width: 100%;
  height: 70%;
  border-radius: 8px;
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transition: background 0.5s;
}

.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);

}

.frente, .atras {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.atras {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  text-align: center;
  box-shadow: 0 6px 16px rgba(0,0,0,0.30);
  
}

.contador span {
    font-size: 15px;
    font-family: Lucida Console, Courier, monospace;
    color: blue;
}

.contador {
    position: relative;
    right: -75px;
    top: 20px;
}
p.counter {
    text-align: relative;
    font-family: Lucida Console, Courier, monospace;
}


.todo > p {
    text-align: center;
    margin-bottom: 20px;
}

.frente:hover {
  background: #E8A868;
  cursor: pointer;
}
